colors {
    color: #D8BFD8;
    color: #9B8F9B;
    color: #7B6888;
}
body {
    overflow-x: hidden;
}
p {
    font-family: "Palanquin Dark", serif;
    font-weight: 600;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Palanquin Dark", serif;
    font-weight: 900;
    font-style: normal;
}
/* Header and hero sections */
.navbar-brand img {
    width: 100px;
    margin-top: -30px;
    margin-bottom: -30px;
}
.hero-section {
    display: flex;
    justify-content: center;
}
.changing-text {
    height: 85vh;
    width: 50vw;
    background-color: #7B6888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-text {
    width: 80%
}
.changing-text h4 {
    color: white;
    font-size: 250%;
    text-align: left;
}
.changing-text p {
    color: white;
    font-size: 100%;
    text-align: left;
}
.hero-buttons {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    align-items: left;
}
.hero-buttons button {
    width: 200px;
}
.hero-picture {
    height: 85vh;
    width: 50vw;
    background-color: #D8BFD8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section img {
    width: 80%;
}
/* End header and hero sections */


/* Experience section */
.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.experience-section .experience-img img{
    width: 80%;
}
.experience-section .experience-text{
    text-align: left;

}
.experience-section .experience-text h4 {
    font-size: 275%;
}
.experience-section .experience-text p {
    font-size: 125%
}
/* End experience section */


/* Services section */
.category_section {
    background-color: #7B6888;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .category_section .heading_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .category_section .heading_container h2 {
    border-bottom: 1px solid #ffffff;
  }
  
  .category_section .category_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
  }
  
  .category_section .category_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    min-width: 130px;
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%;
  }
  
  .category_section .category_container .box .img-box {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .portfolio-box {
    width: 300px;
  }
  
  .category_container .box .img-box img{
    width: 80%;
  }
  
  .category_container .box .img-box #image7, #image8{
    filter: invert(100%);
  }
  
  .category_container .box .img-box #image9 {
    filter: invert(100%);
    width: 140px;
  }
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .heading_container h2 {
    font-weight: bold;
    text-transform: uppercase;
  }
/* End services section */

/* Testimonial Section */
.testimonial-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
#carouselExampleAutoplaying {
    width: 50%;
}

/* End Testimonial Section */


/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    gap: 150px;
}
.about-text {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about-text h2{
    font-size: 300%;
}
.about-text p{
    font-size: 125%;
}
.about-text button{
    width: 150px;
    margin-right: 30px;
}
.about-img img {
    width: 20vw;
}
/* End About Section */


/* Portfolio Section */
.portfolio-section {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 20px;
    align-items: center;
    gap: 50px;
}
.portfolio-projects {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: left;
    gap: 30px;
}
.portfolio-projects div {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.portfolio-projects div p{
    border: 3px solid black;
    border-radius: 10px;
}
.portfolio-img img{
    width: 50vw;
}
/* End Portofolio Section */


/* Footer Section */
footer {
    background-color: #7B6888;
}
footer .footer-links {
    display: flex;
    justify-content: space-around;
}
footer .footer-links .footer-logo img{
    width: 10vw;
}
footer .footer-links .footer-fb img{
    width: 2vw;
    margin-top: 180%;
}
.main-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.contact-form {
    width: 30vw;
}
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}
form label {
    color: white;
}
.useful-links {
    display: flex;
    flex-direction: column;
    color: white
}
.useful-links h3{
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
}
.useful-links p{
    margin: -1px;
}
.contact-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.contact-footer div {
    display: flex;
    gap: 10px;
}
.contact-footer div p{
    color: white;
}
.footer-credits {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
}
.footer-credits p{
    margin: 15px 0px;
}

/* End Footer Section */

