/* colors {
    color: #D8BFD8;
    color: #9B8F9B;
    color: #7B6888;
} */
p {
    font-family: "Palanquin Dark", serif;
    font-weight: 600;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Palanquin Dark", serif;
    font-weight: 900;
    font-style: normal;
}
/* Header and hero sections */
.navbar-brand img {
    width: 100px;
    margin-top: -30px;
    margin-bottom: -30px;
}
.hero-section {
    display: flex;
    justify-content: center;
}
.changing-text {
    height: 85vh;
    width: 50vw;
    background-color: #7B6888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-text {
    width: 80%
}
.changing-text h4 {
    color: white;
    font-size: 250%;
    text-align: left;
}
.changing-text p {
    color: white;
    font-size: 100%;
    text-align: left;
}
.hero-picture {
    height: 85vh;
    width: 50vw;
    background-color: #D8BFD8;
    display: flex;
    align-items: center;
}
.hero-section img {
    width: 100%;
}
/* End header and hero sections */


/* Experience section */
.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.experience-section .experience-img img{
    width: 80%;
}
.experience-section .experience-text{
    text-align: left;

}
.experience-section .experience-text h4 {
    font-size: 275%;
}
.experience-section .experience-text p {
    font-size: 125%
}
/* End experience section */


/* Services section */
.category_section {
    background-color: #7B6888;
    color: #ffffff;
    text-align: center;
  }
  
  .category_section .heading_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .category_section .heading_container h2 {
    border-bottom: 1px solid #ffffff;
  }
  
  .category_section .category_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
  }
  
  .category_section .category_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    min-width: 130px;
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%;
  }
  
  .category_section .category_container .box .img-box {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .portfolio-box {
    width: 300px;
  }
  
  .category_container .box .img-box img{
    width: 80%;
  }
  
  .category_container .box .img-box #image7, #image8{
    filter: invert(100%);
  }
  
  .category_container .box .img-box #image9 {
    filter: invert(100%);
    width: 140px;
  }
/* End services section */

/* Testimonial Section */
.testimonial-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#carouselExampleAutoplaying {
    width: 50%;
}

/* End Testimonial Section */


/* Footer Section */


/* End Footer Section */

